# /home/agus/Documentos/VetHealth/VetBack/.env.example

# Puerto del servidor
PORT=4000

# Contraseña de PostgreSQL
DB_PASSWORD=tu_contraseña_aqui

# Configuración de correo electrónico
EMAIL_USER=pethealthplusassistent@gmail.com
EMAIL_PASS=putlzhugwfnrwfdb
EMAIL_FROM="Pet Health+ <pethealthplusassistent@gmail.com>"